@import url("vendor/normalize.css");

body {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 16px;
	background-color: #ecf0f1;
}

.cardsWrapper {
	display: flex;
	justify-content: center;
}

h2 {
	text-align: center;
}

.cardsLeft {
	font-weight: 300;
	margin-left: .5em;
}

.card {
	color: #fff;
	width: 300px;
	height: 400px;
	border-radius: 10px;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
	margin: 0 1em;
}

.card h1 {
	font-size: 10em;
	text-align: center;
}

.event h1 {
	font-size: 2em;
}

.nextCard {
	background: #f39c12;
    animation-name: pulsing;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.nextCard h1 {
	font-size: 1.75em;
}

.currentCard {
	background: #3498db;
}

.event {
	background-color: #d35400;
}

.empty {
	background-color: #bdc3c7;
}

.doomsday {
	background-color: #c0392b;
    animation-name: doomsday;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

button {
	margin-top: 2em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

@keyframes pulsing {
    0%   {background-color: #f39c12;}
    50%  {background-color: #ff6600;}
    100% {background-color: #f39c12;}
}

@keyframes doomsday {
    0%   {background-color: #c0392b;}
    50%  {background-color: #96281d;}
    100% {background-color: #c0392b;}
}