@import url("vendor/normalize.css");

body {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 16px;
	background-color: #ecf0f1;
}

.cardsWrapper {
	background-color: #999;
	display: flex;
	justify-content: center;
	padding: 2em;
	margin: 0 2em;
}

.card {
	width: 300px;
	height: 400px;
	border-radius: 10px;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nextCard {
	background: #2c3e50;
	margin-right: 2em;
}

.currentCard {
	background: #3498db;
}

.number {
	font-size: 4em;
	color: #fff;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}